/build
/source/build
*.mode1v3
*.pbxuser
*.pbxindex/
!user.pbxuser
/*.log
*.user
*.ncb
*.suo
*.pdb
*.pdf
*.html
*.idb
*.o
*.lo
*.a
*.so
*.so.0
*.la
.deps
.libs
*.pyc
.DS_Store
# Emacs and other editor backup files
*~

# builds on Windows
Debug/
Release/
release/

/.libs/
/GNUmakefile
/config.log
/config.status
/include/mp4v2/project.h
/libplatform/config.h
/libplatform/impl.h.gch/
/libplatform/io/.dirstamp
/libplatform/number/.dirstamp
/libplatform/process/.dirstamp
/libplatform/prog/.dirstamp
/libplatform/stamp-h1
/libplatform/sys/.dirstamp
/libplatform/time/.dirstamp
/libtool
/libutil/.dirstamp
/libutil/impl.h.gch/
/mp4art
/mp4chaps
/mp4extract
/mp4file
/mp4info
/mp4subtitle
/mp4tags
/mp4track
/mp4trackdump
/project/project.m4
/src/.dirstamp
/src/bmff/.dirstamp
/src/impl.h.gch/
/src/itmf/.dirstamp
/src/qtff/.dirstamp
/util/.dirstamp
/util/impl.h.gch/